<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CheckDao">

    <resultMap id="AttendanceRecMap" type="com.vo.CheckVo">
        <result property="empNo" column="emp_no"></result>
        <result property="chName" column="ch_name"></result>
        <result property="checkInTime" column="check_in_time"></result>
        <result property="checkOutTime" column="check_out_time"></result>
        <result property="missWorkDate" column="miss_work_date"></result>
        <result property="missWorkStatus" column="miss_work_status"></result>
        <result property="holidayType" column="holiday_type"></result>
        <result property="holidayHour" column="holiday_hour"></result>
    </resultMap>

    <select id="empIsCheckIn" parameterType="CheckVo" resultMap="AttendanceRecMap">
        select * from attendance_rec
        WHERE
        emp_no = #{empNo}
        AND DATE(check_in_time) = #{checkInTime}
    </select>
    <select id="empIsCheckOut" parameterType="CheckVo" resultMap="AttendanceRecMap">
        select * from attendance_rec
        WHERE
        emp_no = #{empNo}
        AND DATE(check_out_time) = #{checkOutTime}
    </select>

    <select id="queryEmpDate"  resultMap="AttendanceRecMap" parameterType="java.util.HashMap">
        select
        attendance_rec.emp_no, attendance_rec.ch_name, check_in_time::date,check_out_time::date,miss_work_date,miss_work_status,holiday_type,holiday_hour
        from
        attendance_rec join holiday_rec on attendance_rec.emp_no = holiday_rec.emp_no
        WHERE 1=1
        <if test="emp_no != null and emp_no != ''">
            and attendance_rec.emp_no = #{empNo}
        </if>
        <if test=" startDate!= null and endDate != null">
            AND check_in_time ::date BETWEEN to_date(#{startDate}, 'YYYY-MM-DD')
            AND to_date(#{endDate}, 'YYYY-MM-DD')
        </if>
    </select>


    <select id="queryEmpMonth"  resultMap="AttendanceRecMap" parameterType="java.util.HashMap">
        select
        attendance_rec.emp_no, attendance_rec.ch_name,check_in_time,check_out_time,miss_work_date,miss_work_status,holiday_type,holiday_hour
        from
        attendance_rec join holiday_rec on attendance_rec.emp_no = holiday_rec.emp_no
        WHERE 1=1
        <if test="emp_no != null and emp_no != ''">
            and attendance_rec.emp_no = #{empNo}
        </if>
        <if test=" startDate!= null and endDate != null">
            AND check_in_time ::date BETWEEN to_date(#{startDate}, 'YYYY-MM-DD')
            AND to_date(#{endDate}, 'YYYY-MM-DD')
        </if>
    </select>





    <insert id="empCheckIn" parameterType="CheckVo">
        insert into ATTENDANCE_REC(emp_no, ch_name, check_in_time)
        values (#{empNo}, #{chName}, #{checkInTime})
    </insert>

    <update id="empCheckOut" parameterType="CheckVo">
        update ATTENDANCE_REC
        set
        check_out_time = #{checkOutTime}
        where emp_no = #{empNo}
        AND DATE(check_in_time) = CURRENT_DATE
    </update>


</mapper>