<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.EmpDao">
    <select id="queryEmp" parameterType="EmployeeVo" resultType="EmployeeVo">
        select * from employee where emp_account=#{emp_account} and emp_password = #{emp_password}
    </select>

    <select id="queryAll" resultType="EmployeeVo">
        select * from employee
    </select>

    <select id="getEmpList" parameterType="EmployeeVo" resultType="EmployeeVo">
        select * from employee where emp_account=#{emp_account} and emp_password = #{emp_password}
    </select>

    <insert id="insert" parameterType="EmployeeVo">
        insert into EMPLOYEE(EMP_NO, EMP_ACCOUNT, EMP_PASSWORD, CH_NAME) values
           (#{emp_no}, #{emp_account}, #{emp_password}, #{ch_name})
    </insert>

    <delete id="delete" parameterType="EmployeeVo">
        DELETE FROM employee WHERE EMP_NO = #{emp_no}
    </delete>

    <update id="edit" parameterType="EmployeeVo">
        update employee set EMP_PASSWORD = #{emp_password}, CH_NAME = #{ch_name} where emp_no = #{emp_no}
    </update>

</mapper>